body {
	background-color: black;
	background-url
}

.container {
	background-color: red;
}

h2 {
	font-family: 'Spectral SC', serif;
	font-size: 60px;
	font-weight: bold;
}

#timer {
	border-style: solid;
	border-color: black;
	background-color: white;
	font-family: 'Spectral SC', serif;
	font-size: 20px;
}


#questions {
	font-family: 'Spectral SC', serif;
	font-size: 20px;
}



#A {
	page-break-after: always;
	font-family: 'Spectral SC', serif;
	font-size: 20px;
}

.button {
	display: block;
}

h3 {
	font-family: 'Spectral SC', serif;
	font-size: 25px;
}



